* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  height: auto;
  background-color: #c1cdde;
}

html {
  scroll-behavior: smooth;
}

.container-homepage {
  max-width: 100%;
  margin: 2%;
  border-radius: 50px;
  background-color: #fff;
}

/* NAVBAR START */
.container-navbar {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 1.7rem 7%;
  margin: 2%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.container-navbar .navbar-nav a {
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
  color: #2b2b2b;
}

.container-navbar .navbar-contact a {
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
  color: #2b2b2b;
}

.container-navbar .navbar-contact #hamburger-menu {
  display: none;
}

.container-navbar .navbar-nav a:hover {
  color: #ffc836;
}

.container-navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #ffc836;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.container-navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}

.container-navbar .navbar-contact a:hover {
  color: #ffc836;
}

.container-navbar .navbar-contact a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #ffc836;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.container-navbar .navbar-contact a:hover::after {
  transform: scaleX(1);
}

/* NAVBAR END */

/* HERO START */
.container-hero {
  padding: 8rem 7% 1.4rem;
  background-color: #fff;
  height: auto;
  border-radius: 50px;
}

.container-hero .row-hero {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.row-hero h1 {
  font-size: 5rem;
  font-weight: 700;
}

.row-hero h2 {
  font-size: 2.5rem;
  font-weight: 500;
}
.row-hero p {
  font-size: 1rem;
  font-weight: 400;
}

.row-hero .button-portfolio {
  display: inline-block;
  padding: 13px 25px;
  margin-top: 1rem;
  background-color: #ffc836;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.row-hero .img-profile img {
  width: 100%;
  border-radius: 50%;
}

/* HERO SECTION END */

/* ABOUT SECTION START */
.container-about {
  padding: 5rem 7% 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #fff;
  border-radius: 50px;
}

.container-about h2 {
  font-size: 2.6rem;
  margin-bottom: 3rem;
  font-weight: 600;
}

.container-about .row-about {
  display: flex;
  align-items: center;
  background-color: white;
}

.container-about .row-about .about-img {
  background-color: white;
}

.container-about .row-about .about-img img {
  width: 90%;
  border-radius: 50%;
}

.container-about .row-about .content-about {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.container-about .row-about .content-about h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: 650;
}

.container-about .row-about .content-about p {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  font-weight: 380;
}

.container-about .row-about .content-about a {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffc836;
  text-decoration: none;
}

/* SERVICES */
.container-services {
  padding: 8rem 7% 1.4rem;
}

.container-services .services-tittle {
  font-size: 1.5rem;
  font-weight: 350;
  color: #4e4e4e;
}

.container-services .specialized-tittle {
  font-size: 2.5rem;
  font-weight: 600;
}

.container-services .wrapper-services {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.container-services .wrapper-services .card-services {
  text-align: center;
  padding-bottom: 4rem;
}

.card-services img {
  border-radius: 50%;
  width: 80%;
}

.wrapper-services .card-services .card-services-tittle {
  margin: 1rem auto 0.5rem;
  font-size: 1.8rem;
  font-weight: 500;
}

/* SECTION CONTACT */
.container-contact {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 7%;
}

.container-contact:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("img/bg.jpg") no-repeat center;
  background-size: cover;
  filter: blur(50px);
  z-index: -1;
}

.row-contact {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  align-items: center;
  color: black;
  text-align: center;
  background-color: #fff;
}

.row-contact .left-contact h1 {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 7rem;
}

.row-contact .left-contact h1 span {
  color: #ffc836;
  font-family: "Poppins", sans-serif;
  font-size: 7rem;
}

.row-contact .right-contact {
  padding: 1rem 5%;
}

h2 {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}

h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #ffc836;
}

.field {
  width: 100%;
  border: 2px solid #c1cdde;
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 1rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  border-radius: 10px;
  transition: 0.3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

textarea {
  min-height: 150px;
}

.btn {
  width: 100%;
  padding: 1rem 1rem;
  background-color: #ffc836;
  border-radius: 20px;
  color: black;
  font-size: 1.1rem;
  font-weight: bold;
  border: 2px solid #ffc836;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #d09900;
  color: white;
}

.field:focus {
  border: 2px solid rgba(201, 178, 0, 0.47);
  background-color: #fff;
}

/* FOOTER */
.container-footer {
  background-color: #ffc836;
  min-height: auto;
  display: flex;
  padding: 1rem 7%;
  border-radius: 0 0 50px 50px;
  justify-content: space-between;
  align-items: center;
}

.container-footer .footer-content p {
  font-weight: 300;
}

.container-footer .footer-contact a {
  text-decoration: none;
  margin-right: 30px;
  color: black;
  font-weight: 500;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  /* RESPONSIVE NAVBAR START  */
  .container-navbar {
    border-radius: 20px;
  }

  .container-navbar h1 {
    font-size: 1.5rem;
  }

  .container-navbar .navbar-contact #hamburger-menu {
    display: inline-block;
  }

  .container-navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .container-navbar .navbar-nav.active {
    right: 0;
  }

  .container-navbar .navbar-nav a {
    color: #2b2b2b;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .container-navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .container-navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .container-navbar .navbar-contact {
    display: flex;
    justify-content: center;
  }

  .container-navbar .navbar-contact a {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  /* RESPONSIVE HERO START */
  .container-hero {
    border-radius: 20px;
  }

  .container-hero .row-hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .container-hero .row-hero .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 1.2rem;
  }

  .container-hero .row-hero .img-profile img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .container-hero .row-hero .hero-content h1 {
    font-size: 4.5rem;
    font-weight: 650;
  }

  .container-hero .row-hero .hero-content h2 {
    font-size: 2.4rem;
  }

  .container-hero .row-hero .hero-content p {
    font-size: 1.4rem;
    font-weight: 300;
  }

  .container-hero .row-hero .hero-content .button-portfolio {
    width: auto;
    font-size: 1.7rem;
  }

  /* RESPONSIVE ABOUT START  */
  .container-about .row-hero {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .container-about .row-about .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
    border-radius: 5rem;
  }

  .container-about .row-about .content-about {
    padding-top: 1rem;
  }

  .container-about .row-about .content-about h3 {
    font-size: 1.6rem;
  }

  .container-about .row-about .content-about p {
    font-size: 1.2rem;
    text-align: inherit;
  }

  /* RESPONSIVE SERVICES START */
  .container-services .wrapper-services .card-services img {
    width: 60%;
    object-fit: cover;
    object-position: center;
  }

  .card-services .card-services-tittle {
    font-size: 2rem;
  }

  /* RESPONSIVE CONTACT START */
  .row-contact {
    grid-template-columns: 1fr;
    background-color: #fff;
  }

  .right-contact {
    background-color: #fff;
  }

  .right-contact .field {
    width: 100%;
    background-color: #eaeaea;
  }

  .right-contact h2 {
    font-size: 2.5rem;
  }

  .left-contact {
    height: 13rem;
  }
}

/* FOOTER RESPONSIVE */
.container-footer {
  border-radius: 0 0 20px 20px;
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55.5%;
  }
}
